// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
  display: block;
  margin: 0 auto;
  height: 300px;
  width: auto;
}

.logo-small {
  display: block;
  margin: 0 auto;
  height: 150px;
  width: auto;
}

.center-text {
  text-align: center;
}

body{
	background: #fff !important;
}
.panel{
	border: none !important;
}

.panel-primary{
	border: none;
}

.panel-body{
	background: #fff;
}

.panel-primary>.panel-heading{
    color: #137D9B;
    background-color: #fff;
    font-size: 42px;
    font-weight: bolder;
    text-align: center;
    line-height: 45px;
    padding-bottom: 35px;
    border-color: #fff;
}
.navbar-default {
    background-color: #6656A0;
}

.navbar-default .navbar-brand {
    color: #fff;
}
button, input[type=submit] {
    background: #DC8120 !important;
    width: 40% !important;
    color: #fafafa !important;
    margin-top: 60px !important;
    -webkit-transition: all .4s ease; -moz-transition: all .4s ease; -ms-transition: all .4s ease; transition: all .4s ease;
    border:2px solid #DC8120 !important;
}
button:hover, input[type=submit]:hover {
  background: #fafafa !important;
  color:#000 !important;
}

label {

    margin-top: 31px;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: lighter;
}
.b{
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 10px;
}

//Qué has hecho desde la última aplicación de la encuesta para hacer de Afosa tu trabajo Ideal?
.left{
    width: 20%;
    float: left;
    text-align: center;
    margin-left: 30%;
}
.right{
    width: 20%;
    float: left;
    text-align: center;
    margin-right: 30%;
}
//¿Qué tanto cumple <name> con estas características?
.slides label{
    display: block;
    width: 30%;
    text-align: center;
    margin-left: 10%;
    padding-right: 30px;
    float: left;
}
.slider.slider-horizontal{
    position: relative;
    float: left;
    width: 45% !important;
    margin: 20px 0 !important;
}

//En concreto... ¿A qué acción te comprometes contigo para mejorar este aspecto:
.label-date{
  display: block;
  text-align: center;
  font-weight: bold;
}
.date{
    width: 50%;
    margin-left: 25%;
    height: 50px;
    font-size: 17px;
}
//como te sientes en Afosa
#feeling label, #responsible label{
    display: block;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
#feeling .slider.slider-horizontal, #responsible .slider.slider-horizontal{
    float: none;
    width: 50% !important;
    margin-left: 25% !important;
}

//-----------
.form-inline .work-attribute label{
	margin-left: -150px;
}

.slider.slider-horizontal {
    width: 350px;
    margin-left: 40%;
}

.form-control {
    width: 50%;
    margin: auto;
    height: 50px;
    -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; transition: all .5s ease;
    font-size: 20px;
    font-weight:lighter;
}

.form-control:focus {
    -webkit-outline: none ; -moz-outline: none ; -ms-outline: none; outline: none;
    -webkit-box-shadow: none;
    border: 1px solid #333;
}


//pag3

.checkbox{ 
    width: 30%;
    margin: auto;
    margin-bottom: 30px;
}

.checkbox label{
    display: block;
    width: 89%;
    margin-left: 30px;
    border-bottom: 1px solid #A4A4A4;
    letter-spacing: 1px;
    padding-bottom: 5px;
    font-size: 17px;
}

.checkbox input[type=checkbox], .checkbox input[type=radio]{
    float: left;
    margin-top: -20px;
}

//reporte
.panel-body ul{
    width: 50%;
    border: 1px solid #6656A0;
    padding: 20px;
    margin: auto;
    padding-left: 44px;
    font-size: 22px;
    margin-bottom: 40px;
}
.panel-body li{
    padding: 5px 0;
    letter-spacing: 1px;
}

.panel-body p{
    text-align: center;
    font-size: 20px;
}

.panel-footer{
    text-align: center;
    font-size: 20px;
    background-color: #FAAC58;
}





